@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
}
body{
    background: url('../imagens/fundo-madeira.jpg') no-repeat top center;
}
main{
    position: relative;
    height: 100vh;
}

.telefone{
    position: absolute;
    top: 50%;
    left: 50%;
    background-color: antiquewhite;
    background: url('../imagens/frame-iphone.png') no-repeat;
    transform: translate();
}



